package templates

import (
	"github.com/OSAlt/gb-www-nixie/internal/domain"
)

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
			<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
			<title>{ title }</title>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
			<link rel="stylesheet" href="/static/css/style.css"/>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Indie+Flower&display=swap"/>
			<link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
			<script src="https://unpkg.com/htmx.org@2.0.0"></script>
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		</head>
		<body class="container-fluid">
			@Header()
			<main>
				{ children... }
			</main>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
			<script src="https://kit.fontawesome.com/4d9859e450.js" crossorigin="anonymous"></script>
			<!-- amCharts for Stats -->
			<script src="/static/js/core.js"></script>
			<script src="/static/js/charts.js"></script>
			<script src="/static/js/animated.js"></script>
			<script src="/static/js/stats.js"></script>
		</body>
	</html>
}

templ Header() {
	<header class="sticky-top bg-dark rounded-bottom px-2">
		<nav class="navbar navbar-expand-md navbar-dark border-transparent rounded-bottom">
			@Social("socialWeb")
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-md-end" id="navbar">
				<ul class="navbar-nav">
					<hr class="d-block d-md-none border border-white"/>
					<li class="nav-item"><a href="/" class="nav-link text-light">Home</a></li>
					<li class="nav-item"><a href="#about" class="nav-link text-light">About</a></li>
					<li class="nav-item"><a href="#stats" class="nav-link text-light">Stats</a></li>
					<li class="nav-item"><a href="#media" class="nav-link text-light">Instagram</a></li>
					<li class="nav-item"><a href="#geekbeacon" class="nav-link text-light">GeekBeacon</a></li>
					<li class="nav-item"><a href="#contact" class="nav-link text-light">Contact</a></li>
				</ul>
			</div>
		</nav>
	</header>
}

templ Social(id string) {
	<ul id={ id } class="list-inline mr-auto my-auto social-icons">
		<li class="list-inline-item"><a href="https://www.youtube.com/user/nixiedoeslinux" target="_blank" class="text-light"><i class="fab fa-youtube"></i></a></li>
		<li class="list-inline-item"><a href="https://twitter.com/NixiePixel" target="_blank" class="text-light"><i class="fab fa-twitter"></i></a></li>
		<li class="list-inline-item"><a href="https://www.facebook.com/nixiepixel" target="_blank" class="text-light"><i class="fab fa-facebook-f"></i></a></li>
		<li class="list-inline-item"><a href="https://www.instagram.com/nixietron/" target="_blank" class="text-light"><i class="fab fa-instagram"></i></a></li>
		<li class="list-inline-item"><a href="https://www.twitch.tv/nixiepixel" target="_blank" class="text-light"><i class="fab fa-twitch"></i></a></li>
		<li class="list-inline-item"><a href="https://www.patreon.com/nixiepixel" target="_blank" class="text-light"><i class="fab fa-patreon"></i></a></li>
		<li class="list-inline-item"><a href="https://github.com/nixiepixel" target="_blank" class="text-light"><i class="fab fa-github"></i></a></li>
		<li class="list-inline-item"><a href="https://keybase.io/nixiepixel" target="_blank" class="text-light"><i class="fab fa-keybase"></i></a></li>
	</ul>
}

templ Index(media []domain.MediaPost, subjects []string) {
	@Layout("NixiePixel") {
		<a id="toTop" href="#" class="btn btn-light"><i class="fas fa-angle-double-up"></i></a>

		<section id="intro">
			<div id="headerImg"></div>
			<a href="#about"><span class="fas fa-chevron-down"></span></a>
		</section>

		@About()
		@Media(media)
		@Stats()
		@GeekBeacon()
		@Contact(subjects)
	}
}

templ About() {
	<section id="about" class="pb-4 pt-5">
		<h1 class="text-purple text-center mt-5">Who I Am & What I Do</h1>
		<div id="introVideo" class="text-center mb-4 ratio ratio-16x9 w-50 mx-auto">
			<iframe src="https://www.youtube-nocookie.com/embed/bjGBk4iWstM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<p class="text-purple text-center opacity-75 w-75 mx-auto intro-text">
			Passionate about open-source Nixie Pixel has been on the leading wave of advocacy for accessibility in tech through her work spanning over a decade.
		</p>
		<p class="text-purple text-center opacity-75 w-75 mx-auto intro-text">
			Nixie’s ability to engage, communicate, and really connect with her audiences onscreen and as a speaker has earned her multiple high-end sponsors and collaborators including AT&T, Ford, and Logitech. Also an entrepreneur, Nixie founded Equiti Games and GeekBeacon. GeekBeacon is an organically evolving, digital community resource focused on mental health awareness and accessibility of gaming and tech.
		</p>
		<p class="text-purple text-center opacity-75 w-75 mx-auto intro-text">
			In a world climate of instability, rapid change, and resource insecurity Nixie is working harder than ever to grow open-source culture and opportunity with her work.
		</p>
		<hr class="w-25 mx-auto border-purple mb-5"/>
		<ul class="list-inline row justify-content-center justify-content-md-around text-light">
			<li class="list-inline-item border border-light p-2 rounded col-4 col-md-2 mb-3 mb-md-0">
				<p class="text-center"><i class="fas fa-video mb-3 mb-md-4 text-black h2"></i></p>
				<h4 class="text-blue text-center text-underline">Show Host</h4>
				<p>Show Host for Geekbuzz and OS.ALT on Rev3 (Discovery Channel) Prior G4TV and TechTV Affiliated</p>
				<hr/>
				<h6 class="text-center text-underline">Speaker/Panelist</h6>
				<p>&bull; GDC (Game Developer Conference)</p>
				<p>&bull; Zurich Game Festival</p>
				<p>&bull; Penny Arcade Expo</p>
				<p>&bull; GDC 10 Year Media</p>
				<p>&bull; CES 10 Year Media</p>
				<p>&bull; E3 8 Year Media</p>
			</li>
			<li class="list-inline-item border border-light p-2 rounded col-4 col-md-2 mb-3 mb-md-0">
				<p class="text-center"><i class="fab fa-linux mb-3 mb-md-4 text-black h2"></i></p>
				<h4 class="text-blue text-center text-underline">Content</h4>
				<p>Demystifying coding, decoding gaming, and gamifying tech with her unique brand of approachable expertise. Taking her knack for making the inscrutable into the logical she has continued to grow her own path of bringing the often cryptic and complex world of coding to an audience of over 300,000 and growing.</p>
			</li>
			<li class="list-inline-item border border-light p-2 rounded col-4 col-md-2">
				<p class="text-center"><i class="fas fa-users mb-3 mb-md-4 text-black h2"></i></p>
				<h4 class="text-blue text-center text-underline">Sponsors</h4>
				<p>Worked and collaborated with multiple high end sponsors including:</p>
				<p>&bull; AT&T</p>
				<p>&bull; Dell</p>
				<p>&bull; Ford</p>
				<p>&bull; Kodak</p>
				<p>&bull; Logitech</p>
			</li>
			<li class="list-inline-item border border-light p-2 rounded col-4 col-md-2">
				<p class="text-center"><i class="fas fa-users mb-3 mb-md-4 text-black h2"></i></p>
				<h4 class="text-blue text-center text-underline">Entrepreneur</h4>
				<hr/>
				<p>&bull; Founded <a href="https://geekbeacon.org/" target="_blank">GeekBeacon</a>, a digital community resource and mental health awareness center.</p>
				<p>&bull; Founded <a href="https://www.youtube.com/playlist?list=PLBe1BD1FneEaXI6qtXHS6cnZ33iQ_MhOE" target="_blank">GeeksAbroad</a>, a geeky travel show.</p>
				<p>&bull; Founded <a href="https://gbfest.org/" target="_blank">GeekBeacon Festival</a>, a open-source conference!</p>
				<p>&bull; Founded Equiti Games, An alternative distribution for games.</p>
			</li>
		</ul>
	</section>
}

templ Media(media []domain.MediaPost) {
	<section id="media" class="pb-4 pt-5">
		<h1 class="text-white text-center mt-3 mb-4">Check Out My Social Feed!</h1>
		<!-- Place <div> tag where you want the feed to appear -->
		<div id="curator-feed-default-feed-layout"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
		<!-- The Javascript can be moved to the end of the html page before the </body> tag -->
		<script type="text/javascript" src="https://cdn.curator.io/published/665652c2-9507-4961-9372-637c95380d14.js" async charset="UTF-8"></script>
	</section>
}

templ Stats() {
	<section id="stats" class="pt-5">
		<h1 class="text-white text-center mt-3 mb-4">Some Of My Stats!</h1>
		<p class="text-white text-center mt-3 mb-4">Click/tap a platform to toggle visibility!<br/><span>Hover/tap the llama to view numbers!</span></p>
		<div class="position-relative col-10 mx-auto">
			<div id="chart" class="h-100 w-100"></div>
		</div>
	</section>
}

templ GeekBeacon() {
	<section id="geekbeacon" class="pb-4 pt-5">
		<h1 class="text-white text-center mt-3 mb-4">Check Out <a href="https://www.geekbeacon.org">GeekBeacon</a>! </h1>
		<div class="row justify-content-center justify-content-md-around">
			<div class="col-10 col-md-5 text-center mb-3 mb-md-0 px-0 px-md-3">
				<img src="/static/imgs/cubes.gif" alt="GeekBeacon Cubes" class="img-fluid rounded"/>
			</div>
			<div class="col-10 col-md-5 text-center text-md-left rounded">
				<p class="text-light">
				GeekBeacon is a worldwide community of geeks with a mission focused on building and growing our collective knowledge for the betterment of humanity. In a world with rapidly shifting sociopolitical, economic, and ecological climates we see the marginalized being pushed further to the margins. GeekBeacon strives to make tech and gaming more accessible with projects and research to find new adaptations and innovations. From coding tutorials to community game nights, from chat hangouts to mental health support groups, we draw geeks from all nerddoms together. Sharing information and experiences, guiding one another in creating a collective that strengthens and empowers with an ultimate goal of doing social good.
				</p>
			</div>
		</div>
	</section>
}

templ Contact(subjects []string) {
	<section id="contact" class="col-12 py-5 text-white">
		<h1 class="text-white text-center mb-3">Contact Me!</h1>
		<form id="fs-frm" name="department-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xleadqng" method="post">
			<fieldset id="fs-frm-inputs">
				<div class="row justify-content-around">
					<div class="mb-4 col-10 col-md-3">
						<label class="col-form-label-sm" for="name">Name</label>
						<input class="form-control" type="text" name="name" id="name" placeholder="Name" required />
					</div>
					<div class="mb-4 col-10 col-md-3">
						<label class="col-form-label-sm" for="email">Email</label>
						<input class="form-control" type="email" name="_replyto" id="email" placeholder="user@domain.tld" required />
					</div>
					<div class="mb-4 col-10 col-md-3">
						<label class="col-form-label-sm" for="subject">Subject</label>
						<select class="form-control" name="subject" id="subject">
							<option value="Select" disabled selected>Select</option>
							<option value="Say Hello">Say Hello</option>
							<option value="Speaking Engagements">Speaking Engagements</option>
							<option value="Business Opportunity">Business Opportunity</option>
							<option value="Content Collaboration">Content Collaboration</option>
						</select>
					</div>
				</div>
				<div class="row mb-4 justify-content-center">
					<div class="col-10 col-md-11">
						<label class="col-form-label-sm" for="message">Message</label>
						<textarea class="form-control" name="message" id="message" rows="3" placeholder="Message..."></textarea>
					</div>
				</div>
				<div class="text-center">
					<input type="hidden" name="_subject" id="email-subject" value="NixiePixel Contact Form Submission"/>
					<input id="submit" type="submit" value="Submit" class="btn btn-lg btn-success mt-3"/>
				</div>
			</fieldset>
		</form>
	</section>
}

templ ContactSuccess() {
	<div class="alert alert-success text-center">
		Your message has been sent successfully!
	</div>
}
